{% extends 'TellawSunshineAdminBundle::base-sunshine.html.twig' %}
{% form_theme form 'TellawSunshineAdminBundle:Form:fields.html.twig' %}

{% block title %}
    {% if formConfiguration.form.title is defined %}
        {{ formConfiguration.form.title }}
    {% else %}
        {{ entityName }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block body %}
    <div clas="row">
        {% if formConfiguration.form.description is defined %}
            {% if formConfiguration.form.description %}
            <div class="m-heading-1 border-green m-bordered">
                <p> {{ formConfiguration.form.description | raw }} </p>
            </div>
            {% endif %}
        {% endif %}
        <div class="m-portlet m-portlet--mobile">

            <div class="m-portlet__body">

                {{ form_start(form) }}
                {% for row in form %}
                    <div class="form-group m-form__group">
                            {{ form_row(row) }}
                    </div>
                {% endfor %}
                {{ form_end(form) }}

            </div>

        </div>
    </div>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {% for include in formConfiguration.form.jsIncludes %}
        <script type="application/javascript" src="{{ asset(include) }}"></script>
    {% endfor %}
{% endblock %}
