{% extends 'TellawSunshineAdminBundle::base-sunshine.html.twig' %}
{% form_theme form 'TellawSunshineAdminBundle:Form:fields.html.twig' %}

{% block title %}
    {{ formConfiguration.form.title }}
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block body %}
    {% if formConfiguration.form.description %}
    <div class="m-heading-1 border-green m-bordered">
        <p> {{ formConfiguration.form.description | raw }} </p>
    </div>
    {% endif %}
    <div class="portlet light portlet-fit portlet-datatable bordered">

        <div class="portlet-body">
            <div class="table-container">

                <div class="form-horizontal">
                    {{ form_start(form) }}
                    {% for row in form %}
                        <div class="form-group field-">
                            <div class="">
                                {{ form_row(row) }}
                            </div>
                        </div>
                    {% endfor %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
