{% extends '@TellawSunshineAdmin/base-sunshine.html.twig' %}
{% form_theme form '@TellawSunshineAdmin/Form/fields.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    {% if formConfiguration.form.cssIncludes is defined %}
        {% for include in formConfiguration.form.cssIncludes %}
            <link href="{{ asset(include) }}" rel="stylesheet"
                  id="style_components" type="text/css"/>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}
    {% if formConfiguration.form.title is defined %}
        {{ formConfiguration.form.title }}
    {% else %}
        {{ entityName }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block body %}
    <div clas="row">
        {% if formConfiguration.form.description is defined %}
            {% if formConfiguration.form.description %}
            <div class="m-heading-1 border-green m-bordered">
                <p> {{ formConfiguration.form.description | raw }} </p>
            </div>
            {% endif %}
        {% endif %}
        <div class="m-portlet m-portlet--mobile">

            <div class="m-portlet__body">
                {% set isGroups = 'group_1' in form.children|keys ? true : false %}
                {% set groups = form.children %}
                {% if isGroups %}
                    {{ form_start(form) }}
                    {% if form.children.none is defined %}
                        {% for row in form.children.none %}
                            <div class="form-group m-form__group">
                                {{ form_row(row) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <ul class="nav nav-tabs">
                        {% for group in groups %}
                            {% set isGroupInName = group.vars.name|split("", 6) %}
                            {% if isGroupInName.0 == 'group_' %}
                                <li class="nav-item">
                                    <a class="nav-link{% if group.vars.name == 'group_1' %} active{% endif %}" data-toggle="tab" href="#{{ group.vars.name }}">{{ group.vars.label }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for row in form %}
                            {{ form_row(row) }}
                        {% endfor %}
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    {{ form_start(form) }}
                    {% for row in form %}
                        <div class="form-group m-form__group">
                            {{ form_row(row) }}
                        </div>
                    {% endfor %}
                    {{ form_end(form) }}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {% for include in formConfiguration.form.jsIncludes %}
        <script type="application/javascript" src="{{ asset(include) }}"></script>
    {% endfor %}
    <script>
        $('a.nav-link').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
        {% set isGroups = 'group_1' in form.children|keys ? true : false %}
        {% if isGroups %}
            $(document).on('click', "[name$='[save]'], [name$='[save_and_quit]']", function (e) {
                var inputs  = $('form').find(':input').filter('[required]');
                inputs.each(function() {
                    var id = $(this).attr('id');
                    var error = document.getElementById(id).checkValidity();
                    var group = $(this).closest('.tab-pane').attr('id');
                    if (group !== undefined) {
                        var index = parseInt(group.substring(6)) - 1;
                        if (!error) {
                            $('ul.nav-tabs li').eq(index).find('.nav-link').addClass('text-danger');
                            $('label[for="' + id + '"]').addClass('text-danger');
                        } else {
                            $('ul.nav-tabs li').eq(index).find('.nav-link').removeClass('text-danger');
                            $('label[for="' + id + '"]').removeClass('text-danger');
                        }
                    } else {
                        if (!error) {
                            $('label[for="' + id + '"]').addClass('text-danger');
                        } else {
                            $('label[for="' + id + '"]').removeClass('text-danger');
                        }
                    }
                });
            });
        {% endif %}
    </script>
{% endblock %}
