{% extends 'TellawSunshineAdminBundle::base-sunshine.html.twig' %}

{% block title %}
{{ page.title|default('') }} <small>{{ page.description|default('') }}</small>
{% endblock %}

{% block breadcrumb %}
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ page.title|default('') }}</span>
        </li>
    </ul>
{% endblock %}

{% block body %}
    {% if page is not empty %}
        {% for rowKey, row in page.rows %}
        <div class="row">
            {% for name, widget in row %}

                {% if (widget.preload is defined) and (widget.preload == 'true')%}
                    <div class="col-lg-{{ widget.columns }} col-md-{{ widget.columns }} col-sm-{{ widget.columns }} col-xs-{{ widget.columns }}"
                         data-route="{{ getWidgetUrl( widget, name, pageId, rowKey ) }}"
                         data-type="widget.preloaded"
                         id="widget-{{ name }}" >

                        {% if (widget.type is defined) and (widget.type == 'list')%}
                            {{ render(controller(
                                'TellawSunshineAdminBundle:Widget:widgetCrudList',
                                { 'pageName': pageId, 'widgetName': name, 'row': rowKey }
                            )) }}
                        {% else %}
                            {{ render(controller(
                                widget.route,
                                { 'pageName': pageId, 'widgetName': name, 'row': rowKey }
                            )) }}
                        {% endif %}
                    </div>

                {% elseif (serviceWidgets[name] is defined) %}
                    <div class="col-lg-{{ widget.columns }} col-md-{{ widget.columns }} col-sm-{{ widget.columns }} col-xs-{{ widget.columns }}"
                         id="widget-{{ name }}" >
                    {{ serviceWidgets[name] | raw }}
                    </div>

                {% else %}

                    <div class="col-lg-{{ widget.columns }} col-md-{{ widget.columns }} col-sm-{{ widget.columns }} col-xs-{{ widget.columns }}"
                         data-route="{{ getWidgetUrl( widget, name, pageId, rowKey ) }}"
                         data-editroute=""
                         data-type="widget.ajax"
                         id="widget-{{ name }}" >
                    </div>

                {% endif %}
            {% endfor %}

        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
