{% extends '@TellawSunshineAdmin/base-sunshine.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% if  page.cssIncludes is defined %}
        {% for include in page.cssIncludes %}
            <link href="{{ asset(include) }}" rel="stylesheet"
                  id="style_components" type="text/css"/>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block title %}
{{ page.title|default('') }} <small>{{ page.description|default('') }}</small>
{% endblock %}


{% block breadcrumb %}
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ page.title|default('') }}</span>
        </li>
    </ul>
{% endblock %}

{% block body %}
    {% if page is not empty %}
        {% for rowKey, row in page.rows %}
        <div class="row">
            {% for name, widget in row %}

                {% set isVisible = false %}

                {% if widget.roles is defined %}
                    {% for role in widget.roles %}
                        {% if is_granted(role) %}
                            {% set isVisible = true %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% set isVisible = true %}
                {% endif %}
                {% if isVisible == true %}

                    {% if (widget.preload is defined) and (widget.preload == 'true')%}
                        <div class="col-xl-{{ widget.columns }}"
                             data-route="{{ getWidgetUrl( widget, name, pageId, rowKey ) }}"
                             data-type="widget.preloaded"
                             id="widget-{{ name }}">

                            {% if (widget.type is defined) and (widget.type == 'list')%}
                                {{ render(controller(
                                    '@TellawSunshineAdmin/Widget/widgetCrudList',
                                    { 'pageName': pageId, 'widgetName': name, 'row': rowKey }
                                )) }}
                            {% else %}
                                {{ render(controller(
                                    widget.route,
                                    { 'pageName': pageId, 'widgetName': name, 'row': rowKey }
                                )) }}
                            {% endif %}
                        </div>

                    {% elseif (serviceWidgets[name] is defined) %}
                        <div class="col-xl-{{ widget.columns }}"
                             id="widget-{{ name }}" >
                        {{ serviceWidgets[name] | raw }}
                        </div>

                    {% else %}

                        <div class="col-xl-{{ widget.columns }}"
                             data-route="{{ getWidgetUrl( widget, name, pageId, rowKey ) }}"
                             data-editroute=""
                             data-type="widget.ajax"
                             id="widget-{{ name }}">
                        </div>

                    {% endif %}

                {% endif %}

            {% endfor %}

        </div>
    {% endfor %}
    {% endif %}
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {% if  page.jsIncludes is defined %}
        {% for include in page.jsIncludes %}
            <script type="application/javascript" src="{{ asset(include) }}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
