{% extends '@TellawSunshineAdmin/base-sunshine.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if formConfiguration.list.cssIncludes is defined %}
        {% for include in formConfiguration.list.cssIncludes %}
            <link href="{{ asset(include) }}" rel="stylesheet"
                  id="style_components" type="text/css"/>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}
    {% if formConfiguration.list.title is defined %}
        {{ formConfiguration.list.title }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block body %}

    <div class="row">

        {% if formConfiguration.list.description is defined %}
            {% if formConfiguration.list.description %}
                <div class="col-lg-12">
                    <div class="m-heading-1 border-green m-bordered">
                        <p> {{ formConfiguration.list.description | raw }} </p>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="col-xl-12"
             data-route="{{ getWidgetUrl( widget, 'list', 'editDefault', 1, extraParameters ) }}"
             data-editroute=""
             data-type="widget.ajax"
             id="widget-list" >
        </div>
    </div>
    </div>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {% for include in formConfiguration.list.jsIncludes %}
        <script type="application/javascript" src="{{ asset(include) }}"></script>
    {% endfor %}
{% endblock %}