{% if filtersForm is defined and filtersForm %}
    {% form_theme filtersForm '@sunshine/Form/filterFields.html.twig'%}
{% endif %}
<div class="m-portlet m-portlet--mobile {{ widgetName }}-portlet">
    <div class="m-portlet__head">
        {% if widget.title is defined %}
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">{{ widget.title }}</h3>
                </div>
            </div>
        {% else %}
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">{{ entityName | trans }}</h3>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="m-portlet__body">

        <div class="form-group m-form__group row align-items-center">
            <div class="col-lg-6">
                <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input m-input--solid" placeholder="Recherchez..." value="{{ generalSearch|default('') }}" id="m_form_search">
                    <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-search"></i></span></span>
                </div>
            </div>

            {% if (showAddButton is not defined or showAddButton == true)? true : false %}
                {% if widget.parameters.newRoute is defined %}
                    <div class="col-xl-6 order-1 order-xl-2 m--align-right">
                        <a href="{{ path(widget.parameters.newRoute, {'entityName': entityName}) }}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span><i class="la la-cart-plus"></i><span>Créer un élément</span></span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                {% else %}
                    <div class="col-xl-6 order-1 order-xl-2 m--align-right">
                        <a href="{{ path('sunshine_page_new', {'entityName': entityName}) }}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span><i class="la la-cart-plus"></i><span>Créer un élément</span></span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="form-group m-form__group row align-items-center">
            <div class="col-md-12">
                {% if filtersForm is defined and filtersForm %}
                    <!-- Input field for search -->
                    <div class="m-input-icon m-input-icon--left">
                        {{ form(filtersForm) }}
                    </div>
                {% endif %}
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
               id="{{ widgetName }}_datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
            <thead>
            <tr role="row" class="heading">
                {% for name, field in fields %}
                    {% if field.label is defined %}
                        <th class="sorting_disabled" rowspan="1" colspan="1"> {{ field.label }} </th>
                    {% else %}
                        <th class="sorting_disabled" rowspan="1" colspan="1"> {{ name }} </th>
                    {% endif %}
                {% endfor %}
                {%  if not fields['actions'] is defined %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
        </table>

        <script type="text/javascript">

            // Find every filters on the page
            $("body").find('.{{ widgetName }}-portlet .filterElement').each(function (index, item) {

                // Clean the name, removing [ and ]. Also removing [] for multiple values (arrays)
                var name = item.name;
                name = name.replace("filters[", "");
                name = name.replace ("]", "");
                name = name.replace ("[]", "");

                // Filter Event, Attach an onChange event on each filters to handle the value change event
                $(item).on('change', function () {

                    // Add the spinner.
                    {{ widgetName }}datatable.spinnerCallback(true);

                    // Get values
                    var value = $(this).val();

                    // Set session informations to handle forward/back navigation
                    sessionStorage.setItem("{{ widgetName }}_"+name+"_value", value );
                    sessionStorage.setItem("{{ widgetName }}_"+name+"_text", $(this).find('option:selected').text());

                    // Search for datatable
                    {{ widgetName }}datatable.search($(this).val(), name);

                });

                // If the local storage has a value for that name
                if (    sessionStorage.getItem( "{{ widgetName }}_"+name+"_value" ) != "null" &&
                        sessionStorage.getItem( "{{ widgetName }}_"+name+"_text" ) != "null" &&
                        sessionStorage.getItem( "{{ widgetName }}_"+name+"_value" ) != "" &&
                        sessionStorage.getItem( "{{ widgetName }}_"+name+"_text" ) != "" &&
                        sessionStorage.getItem( "{{ widgetName }}_"+name+"_value" ) != null &&
                        sessionStorage.getItem( "{{ widgetName }}_"+name+"_text" ) != null ) {

                    var optionValue = sessionStorage.getItem( "{{ widgetName }}_"+name+"_value");
                    var optionName = sessionStorage.getItem( "{{ widgetName }}_"+name+"_text" );

                    // Test if value is already in the options.
                    // --> If yes : select if
                    // --> If not : Create it and select it.
                    if ( !$(this).has('option:contains('+optionValue+')')) {
                        // Create it if not available
                        var opt = document.createElement('option');
                        opt.value = optionValue;
                        opt.innerHTML = optionName;
                        $(this).append(opt)
                    }

                    $(this).val( optionValue );

                }

            });

            var datatable = null;

            $(document).ready(function () {

                // Preset of filters for first query
                // Init of default values for this object
                var queryFilterParams = [];
                $("body").find(".{{ widgetName }}-portlet .filterElement").each(function (index, item) {
                    if (item.value != "") {
                        name = item.name;
                        name = name.replace("filters[", "");
                        name = name.replace ("]", "");
                        name = name.replace ("[]", "");
                        queryFilterParams.push({property:name, value:$(item).val()});
                        console.log (name);
                        console.log ($(item).val());
                    }

                });

                // Loading of the mDatatable
                {{ widgetName }}datatable = $('#{{ widgetName }}_datatable_ajax').mDatatable({

                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                method: 'post',
                                url: "{{ path((datatable_ajax_path is defined ? datatable_ajax_path : 'sunshine_ajax_datatable_callback'), {'entity': entityName}) }}",
                                params: {
                                    // custom query params
                                    query: {
                                        filters: queryFilterParams
                                    }
                                }
                            }
                        },
                        pageSize: {{ pageSize is defined ? pageSize : 20 }},
                        saveState: {
                            // save datatable state(pagination, filtering, sorting, etc) in cookie or browser webstorage
                            cookie: true,
                            webstorage: true,
                        },

                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,

                    },
                    // layout definition
                    layout: {
                        theme: 'default', // datatable theme
                        class: '', // custom wrapper class
                        scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                        footer: false, // display/hide footer
                        spinner: {
                            opacity: 0.5
                        }
                    },

                    // column based filtering (coming soon)
                    filterable: true,

                    // resize column size with mouse drag coming soon)
                    resizable: true,

                    // column sorting
                    sortable: true,

                    // Enable Pagination
                    pagination: true,

                    search: {
                        // enable trigger search by keyup enter
                        onEnter: false,
                        // input text for search
                        input: null,
                        // search delay in milliseconds
                        delay: 500,
                    },

                    {# START of Column Definition #}
                    columns: [
                        {% for key,field in fields %} {# Browse Fields and keys of fields #}

                        {# if field has a non empty template attribute, use it instead of default view #}
                        {% if field.template is defined and field.template is not empty %}
                        {
                            {% include field.template ~ '.html.twig' with  {'field':field, 'key':key, 'entityName':entityName, 'sortable' : (field.order is defined ? field.order : null) } %}
                        },
                        {% else %}
                        {# Default template #}
                        {
                            field: "{{ key }}",
                            title: "{{ field.label is defined ? field.label : key }} ",
                            sortable: "{{ field.order is defined and field.order is not iterable ? field.order : null }}"
                        },
                        {% endif %}

                        {% endfor %}

                        {# If no field "actions" is defined, then add the default one #}
                        {% if not fields['actions'] is defined %}
                        {
                            field: "action",
                            title: "Action",
                            template: function (row) {
                                {% if widget.parameters.editRoute is defined %}
                                return '<button onclick="openListLink(this)" data-url="{{ path(widget.parameters.editRoute, {'entityName':entityName}) }}/' + row.id + '" type="button" class="btn btn-primary btn-sm">Editer</button>&nbsp<button onclick="openListLink(this)" data-url="{{ path(widget.parameters.deleteRoute, {'entityName':entityName}) }}/' + row.id + '" type="button" class="btn btn-danger btn-sm" onClick="return confirm(\'Confirmez-vous la suppression ?\')">Supprimer</button>';
                                {% else %}
                                return '<button onclick="openListLink(this)" data-url="{{ path('sunshine_page_edit', {'entityName':entityName}) }}/' + row.id + '" type="button" class="btn btn-primary btn-sm">Editer</button>&nbsp;<button onclick="openListLink(this)" data-url="{{ path('sunshine_crud_delete_js', {'entityName':entityName}) }}/' + row.id + '" type="button" class="btn btn-danger btn-sm" onClick="return confirm(\'Confirmez-vous la suppression ?\')">Supprimer</button>';
                                {% endif %}
                            }
                        }
                        {% endif %}
                    ],
                    {# END of Column Definition #}

                    translate: {
                        records: {
                            processing: 'Patientez s\'il vous plait...',
                            noRecords: 'Aucune donnée'
                        },
                        toolbar: {
                            pagination: {
                                items: {
                                    default: {
                                        first: 'Le premier',
                                        prev: 'Précédent',
                                        next: 'Suivant',
                                        last: 'Le dernier',
                                        more: 'Plus de pages',
                                        input: 'Numéro de page',
                                        select: 'Taille de la liste'
                                    },
                                    {% verbatim %}info: '{{start}} - {{end}} sur {{total}} enregistrements'{% endverbatim %}
                                }
                            }
                        }
                    }
                });

                var query = {{ widgetName }}datatable.getDataSourceQuery();

                // Attach search event for the GENERAL search field
                if ($('.{{ widgetName }}-portlet #m_form_search').val() != '') {
                    {{ widgetName }}datatable.spinnerCallback(true);
                    {{ widgetName }}datatable.search($('.{{ widgetName }}-portlet #m_form_search').val());
                }

                // Attach event to filters inputs
                $('.{{ widgetName }}-portlet #m_form_search').on('keyup', function (e) {
                    {{ widgetName }}datatable.spinnerCallback(true);
                    {{ widgetName }}datatable.search($(this).val());
                });

                // Disable submit of filters form
                $('form[name="filters"]').submit(function() {
                    return false;
                });
            });

        </script>

    </div>

</div>
