{% set isVisible = false %}

{% if item.roles is defined %}
    {% for role in item.roles %}
        {% if is_granted(role) %}
            {% set isVisible = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set isVisible = true %}
{% endif %}

{% if isVisible == true %}
    {% if item.type == 'page' %}
        <li class="m-menu__item {% if pageType == 'sunshine_page' and pageIdentifier == item.parameters.id  %}m-menu__item--active{% endif %}" aria-haspopup="true">
            <a href="{{ path('sunshine_page', {'pageId': item.parameters.id}) }}" class="m-menu__link">
                {% if item.icon is defined %}
                    <i class="m-menu__link-icon flaticon-layers {{ item.icon }}"></i>
                {% endif %}
                <span class="m-menu__link-text">{{ item.label | trans }}</span>
            </a>
        </li>
    {% elseif item.type == 'route' %}
        <li class="m-menu__item {% if pageType == 'custom_page' and pageIdentifier == item.route %}m-menu__item--active{% endif %}">
            <a href="{{ path(item.route, item.parameters) }}" class="m-menu__link">
                {% if item.icon is defined %}
                    <i class="m-menu__link-icon {{ item.icon }}"></i>
                {% endif %}
                <span class="m-menu__link-text">{{ item.label | trans }}</span>
            </a>
        </li>
    {% elseif item.type == 'list' %}
            <li class="m-menu__item {% if pageType == 'sunshine_page_list' and pageIdentifier == item.entityName %}m-menu__item--active{% endif %}">
                <a href="{{ path('sunshine_page_list', {'entityName': item.entityName}) }}" class="m-menu__link">
                    {% if item.icon is defined %}
                        <i class="m-menu__link-icon {{ item.icon }}"></i>
                    {% endif %}
                    <span class="m-menu__link-text">{{ item.label | trans }}</span>

                </a>
            </li>

    {%  elseif item.type == 'section' %}
        <li class="m-menu__section">
            <h4 class="m-menu__section-text">{{ item.label }}</h4>
        </li>
        {% for items in item.children %}
            {% include 'TellawSunshineAdminBundle:Menu:menu_item.html.twig' with  {'item':items} %}
        {% endfor %}
    {% elseif item.type == 'external' %}
        <li class="m-menu__item ">
            <a href="{{ item.parameters.url }}" class="nav-link" {% if item.target is defined %}target="{{ item.target }}"{% endif %}>
                {% if item.icon is defined %}
                    <i class="m-menu__link-icon {{ item.icon }}"></i>
                {% endif %}
                <span class="m-menu__link-text">{{ item.label | trans }}</span>
            </a>
        </li>
    {% elseif item.type == 'subMenu' %}
        <li class="m-menu__item m-menu__item--submenu {% if isActivePageIsAChildPage( item, pageType, pageIdentifier ) %}active open{%  endif %}" aria-haspopup="true"  data-menu-submenu-toggle="hover">
            <a href="#" class="m-menu__link m-menu__toggle">
                {% if item.icon is defined %}
                    <i class="m-menu__link-icon {{ item.icon }}"></i>
                {% endif %}
                <span class="m-menu__link-text">{{ item.label | trans}}</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                {% for items in item.children %}
                    {% include 'TellawSunshineAdminBundle:Menu:menu_item.html.twig' with  {'item':items} %}
                {% endfor %}
                </ul>
            </div>
        </li>
    {% endif %}
{% endif %}